In [1]:
#import Dependencies
import csv
import json
import pandas as pd
import sys, getopt, pprint
from pymongo import MongoClient
import warnings
warnings.filterwarnings('ignore')

In [3]:
#activating Mongo Client
client = MongoClient('localhost', 27017)

In [4]:
db = client.db

In [6]:
collection= db.collection

In [7]:
#creating the Data Frame Female and reading the csv
Female=pd.read_csv(r'C:\Users\pasi1\mentalhealth_tech\Female.csv', index_col=0)

In [8]:
#print Female
print(Female)

                  Unnamed: 1 Bad Days Bad Days.1 Bad Days.2 Bad Days.3  \
Sex                 Location    count       mean        std        min
Female               Alabama        1        6.1        NaN        6.1
Female                Alaska        1        4.6        NaN        4.6
Female               Arizona        1        4.9        NaN        4.9
Female              Arkansas        1        6.5        NaN        6.5
Female            California        1        4.2        NaN        4.2
Female              Colorado        1        4.4        NaN        4.4
Female           Connecticut        1        4.2        NaN        4.2
Female              Delaware        1          5        NaN          5
Female  District of Columbia        1        4.8        NaN        4.8
Female               Florida        1          5        NaN          5
Female               Georgia        1        5.2        NaN        5.2
Female                  Guam        1        4.8        NaN        4.8
Female                Hawaii        1        3.8        NaN        3.8
Female                 Idaho        1        4.9        NaN        4.9
Female              Illinois        1        4.6        NaN        4.6
Female               Indiana        1        5.6        NaN        5.6
Female                  Iowa        1        4.7        NaN        4.7
Female                Kansas        1        5.2        NaN        5.2
Female              Kentucky        1        6.1        NaN        6.1
Female             Louisiana        1        6.1        NaN        6.1
Female                 Maine        1        4.8        NaN        4.8
Female              Maryland        1        4.3        NaN        4.3
Female         Massachusetts        1        4.7        NaN        4.7
Female              Michigan        1        5.8        NaN        5.8
Female             Minnesota        1        4.4        NaN        4.4
Female           Mississippi        1        5.8        NaN        5.8
Female              Missouri        1        5.4        NaN        5.4
Female               Montana        1        5.2        NaN        5.2
Female              Nebraska        1        4.5        NaN        4.5
Female                Nevada        1        5.4        NaN        5.4
Female         New Hampshire        1        5.1        NaN        5.1
Female            New Mexico        1        5.3        NaN        5.3
Female              New York        1        4.2        NaN        4.2
Female        North Carolina        1        4.9        NaN        4.9
Female          North Dakota        1        4.5        NaN        4.5
Female                  Ohio        1        5.6        NaN        5.6
Female              Oklahoma        1        5.8        NaN        5.8
Female                Oregon        1        5.1        NaN        5.1
Female          Pennsylvania        1        5.2        NaN        5.2
Female           Puerto Rico        1        3.6        NaN        3.6
Female          Rhode Island        1        4.9        NaN        4.9
Female        South Carolina        1        5.3        NaN        5.3
Female          South Dakota        1        4.2        NaN        4.2
Female             Tennessee        1        5.9        NaN        5.9
Female                 Texas        1        4.5        NaN        4.5
Female         United States        1        4.9        NaN        4.9
Female                  Utah        1        5.5        NaN        5.5
Female               Vermont        1        4.9        NaN        4.9
Female              Virginia        1        4.6        NaN        4.6
Female            Washington        1        5.1        NaN        5.1
Female         West Virginia        1        6.8        NaN        6.8
Female             Wisconsin        1        4.6        NaN        4.6
Female               Wyoming        1        4.7        NaN        4.7

       Bad Days.4 Bad Days.5 Bad Days.6 Bad Days.7
Sex           25%        50%        75%        max
Female        6.1        6.1        6.1        6.1
Female        4.6        4.6        4.6        4.6
Female        4.9        4.9        4.9        4.9
Female        6.5        6.5        6.5        6.5
Female        4.2        4.2        4.2        4.2
Female        4.4        4.4        4.4        4.4
Female        4.2        4.2        4.2        4.2
Female          5          5          5          5
Female        4.8        4.8        4.8        4.8
Female          5          5          5          5
Female        5.2        5.2        5.2        5.2
Female        4.8        4.8        4.8        4.8
Female        3.8        3.8        3.8        3.8
Female        4.9        4.9        4.9        4.9
Female        4.6        4.6        4.6        4.6
Female        5.6        5.6        5.6        5.6
Female        4.7        4.7        4.7        4.7
Female        5.2        5.2        5.2        5.2
Female        6.1        6.1        6.1        6.1
Female        6.1        6.1        6.1        6.1
Female        4.8        4.8        4.8        4.8
Female        4.3        4.3        4.3        4.3
Female        4.7        4.7        4.7        4.7
Female        5.8        5.8        5.8        5.8
Female        4.4        4.4        4.4        4.4
Female        5.8        5.8        5.8        5.8
Female        5.4        5.4        5.4        5.4
Female        5.2        5.2        5.2        5.2
Female        4.5        4.5        4.5        4.5
Female        5.4        5.4        5.4        5.4
Female        5.1        5.1        5.1        5.1
Female        5.3        5.3        5.3        5.3
Female        4.2        4.2        4.2        4.2
Female        4.9        4.9        4.9        4.9
Female        4.5        4.5        4.5        4.5
Female        5.6        5.6        5.6        5.6
Female        5.8        5.8        5.8        5.8
Female        5.1        5.1        5.1        5.1
Female        5.2        5.2        5.2        5.2
Female        3.6        3.6        3.6        3.6
Female        4.9        4.9        4.9        4.9
Female        5.3        5.3        5.3        5.3
Female        4.2        4.2        4.2        4.2
Female        5.9        5.9        5.9        5.9
Female        4.5        4.5        4.5        4.5
Female        4.9        4.9        4.9        4.9
Female        5.5        5.5        5.5        5.5
Female        4.9        4.9        4.9        4.9
Female        4.6        4.6        4.6        4.6
Female        5.1        5.1        5.1        5.1
Female        6.8        6.8        6.8        6.8
Female        4.6        4.6        4.6        4.6
Female        4.7        4.7        4.7        4.7

In [10]:
#turning it into a dictionary
def csv_to_dict():
    reader = csv.DictReader(open(''/'Female.csv'))
    result = {}
    for row in reader:
        key = row.pop('Sex')
        result[key] = row
    return query

In [22]:
# create a dictionary 
    Female = {} 
      
    # Open a csv reader called DictReader 
    with open(r'C:\Users\pasi1\mentalhealth_tech\Female.csv', encoding='utf-8') as csvf: 
        csvReader = csv.DictReader(csvf) 
          
        # Convert each row into a dictionary  
        # and add it to data 
        for rows in csvReader: 
              
            # Assuming a column named 'No' to 
            # be the primary key 
            key = rows[''] 
            Female[key] = rows

In [23]:
#printing dictionary
Female

{'Location': OrderedDict([('', 'Location'), ('Bad Days', 'max')]),
 'Alabama': OrderedDict([('', 'Alabama'), ('Bad Days', '6.1')]),
 'Alaska': OrderedDict([('', 'Alaska'), ('Bad Days', '4.6')]),
 'Arizona': OrderedDict([('', 'Arizona'), ('Bad Days', '4.9')]),
 'Arkansas': OrderedDict([('', 'Arkansas'), ('Bad Days', '6.5')]),
 'California': OrderedDict([('', 'California'), ('Bad Days', '4.2')]),
 'Colorado': OrderedDict([('', 'Colorado'), ('Bad Days', '4.4')]),
 'Connecticut': OrderedDict([('', 'Connecticut'), ('Bad Days', '4.2')]),
 'Delaware': OrderedDict([('', 'Delaware'), ('Bad Days', '5')]),
 'District of Columbia': OrderedDict([('', 'District of Columbia'),
              ('Bad Days', '4.8')]),
 'Florida': OrderedDict([('', 'Florida'), ('Bad Days', '5')]),
 'Georgia': OrderedDict([('', 'Georgia'), ('Bad Days', '5.2')]),
 'Guam': OrderedDict([('', 'Guam'), ('Bad Days', '4.8')]),
 'Hawaii': OrderedDict([('', 'Hawaii'), ('Bad Days', '3.8')]),
 'Idaho': OrderedDict([('', 'Idaho'), ('Bad Days', '4.9')]),
 'Illinois': OrderedDict([('', 'Illinois'), ('Bad Days', '4.6')]),
 'Indiana': OrderedDict([('', 'Indiana'), ('Bad Days', '5.6')]),
 'Iowa': OrderedDict([('', 'Iowa'), ('Bad Days', '4.7')]),
 'Kansas': OrderedDict([('', 'Kansas'), ('Bad Days', '5.2')]),
 'Kentucky': OrderedDict([('', 'Kentucky'), ('Bad Days', '6.1')]),
 'Louisiana': OrderedDict([('', 'Louisiana'), ('Bad Days', '6.1')]),
 'Maine': OrderedDict([('', 'Maine'), ('Bad Days', '4.8')]),
 'Maryland': OrderedDict([('', 'Maryland'), ('Bad Days', '4.3')]),
 'Massachusetts': OrderedDict([('', 'Massachusetts'), ('Bad Days', '4.7')]),
 'Michigan': OrderedDict([('', 'Michigan'), ('Bad Days', '5.8')]),
 'Minnesota': OrderedDict([('', 'Minnesota'), ('Bad Days', '4.4')]),
 'Mississippi': OrderedDict([('', 'Mississippi'), ('Bad Days', '5.8')]),
 'Missouri': OrderedDict([('', 'Missouri'), ('Bad Days', '5.4')]),
 'Montana': OrderedDict([('', 'Montana'), ('Bad Days', '5.2')]),
 'Nebraska': OrderedDict([('', 'Nebraska'), ('Bad Days', '4.5')]),
 'Nevada': OrderedDict([('', 'Nevada'), ('Bad Days', '5.4')]),
 'New Hampshire': OrderedDict([('', 'New Hampshire'), ('Bad Days', '5.1')]),
 'New Mexico': OrderedDict([('', 'New Mexico'), ('Bad Days', '5.3')]),
 'New York': OrderedDict([('', 'New York'), ('Bad Days', '4.2')]),
 'North Carolina': OrderedDict([('', 'North Carolina'), ('Bad Days', '4.9')]),
 'North Dakota': OrderedDict([('', 'North Dakota'), ('Bad Days', '4.5')]),
 'Ohio': OrderedDict([('', 'Ohio'), ('Bad Days', '5.6')]),
 'Oklahoma': OrderedDict([('', 'Oklahoma'), ('Bad Days', '5.8')]),
 'Oregon': OrderedDict([('', 'Oregon'), ('Bad Days', '5.1')]),
 'Pennsylvania': OrderedDict([('', 'Pennsylvania'), ('Bad Days', '5.2')]),
 'Puerto Rico': OrderedDict([('', 'Puerto Rico'), ('Bad Days', '3.6')]),
 'Rhode Island': OrderedDict([('', 'Rhode Island'), ('Bad Days', '4.9')]),
 'South Carolina': OrderedDict([('', 'South Carolina'), ('Bad Days', '5.3')]),
 'South Dakota': OrderedDict([('', 'South Dakota'), ('Bad Days', '4.2')]),
 'Tennessee': OrderedDict([('', 'Tennessee'), ('Bad Days', '5.9')]),
 'Texas': OrderedDict([('', 'Texas'), ('Bad Days', '4.5')]),
 'United States': OrderedDict([('', 'United States'), ('Bad Days', '4.9')]),
 'Utah': OrderedDict([('', 'Utah'), ('Bad Days', '5.5')]),
 'Vermont': OrderedDict([('', 'Vermont'), ('Bad Days', '4.9')]),
 'Virginia': OrderedDict([('', 'Virginia'), ('Bad Days', '4.6')]),
 'Washington': OrderedDict([('', 'Washington'), ('Bad Days', '5.1')]),
 'West Virginia': OrderedDict([('', 'West Virginia'), ('Bad Days', '6.8')]),
 'Wisconsin': OrderedDict([('', 'Wisconsin'), ('Bad Days', '4.6')]),
 'Wyoming': OrderedDict([('', 'Wyoming'), ('Bad Days', '4.7')])}

In [9]:
# Opening csv file
with open('Female.csv', 'r') as csvfile:
    header = [ "show_id", "Sex"]
    reader = csv.reader(csvfile)

    for row in reader:
        doc={}
        for n in range(0,len(header)):
            doc[header[n]] = row[n]

In [10]:
#importing CSV
def import_content(filepath):
    collection_name = 'Female' 
    db_cm = mng_db[collection_name]
    cdir = os.path.dirname(__file__)
    file_res = os.path.join(cdir, filepath)

    data = pd.read_csv(file_res)
    data_json = json.loads(data.to_json(orient='Sex'))
    db_cm.remove()
    db_cm.insert(data_json)
    filepath = ''/'Female.csv'  
    import_content(filepath)

In [11]:
#count of female
Female.count()

Unnamed: 1    54
Bad Days      54
Bad Days.1    54
Bad Days.2     1
Bad Days.3    54
Bad Days.4    54
Bad Days.5    54
Bad Days.6    54
Bad Days.7    54
dtype: int64

In [12]:
#first 5 in in DataFrame
Female.head()

,Unnamed: 1,Bad Days,Bad Days.1,Bad Days.2,Bad Days.3,Bad Days.4,Bad Days.5,Bad Days.6,Bad Days.7
Sex,Location,count,mean,std,min,25%,50%,75%,max
Female,Alabama,1,6.1,NaN,6.1,6.1,6.1,6.1,6.1
Female,Alaska,1,4.6,NaN,4.6,4.6,4.6,4.6,4.6
Female,Arizona,1,4.9,NaN,4.9,4.9,4.9,4.9,4.9
Female,Arkansas,1,6.5,NaN,6.5,6.5,6.5,6.5,6.5

In [13]:
# Getting shape of the df 
shape = Female.shape 
  
# Printing Number of columns 
print('Number of columns :', shape[1])

Number of columns : 9

In [14]:
# Getting the list of columns 
col = Female.columns 
  
# Printing Number of columns 
print('Number of columns :', len(col))

Number of columns : 9

In [15]:
#inforamtion about the DataFrame
Female.info()

<class 'pandas.core.frame.DataFrame'>
Index: 54 entries, Sex to Female
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 1  54 non-null     object
 1   Bad Days    54 non-null     object
 2   Bad Days.1  54 non-null     object
 3   Bad Days.2  1 non-null      object
 4   Bad Days.3  54 non-null     object
 5   Bad Days.4  54 non-null     object
 6   Bad Days.5  54 non-null     object
 7   Bad Days.6  54 non-null     object
 8   Bad Days.7  54 non-null     object
dtypes: object(9)
memory usage: 4.2+ KB

In [16]:
# grouping by hte count of Unnamed one which is Location
Female.groupby(['Unnamed: 1']).count().unstack().fillna(0)

            Unnamed: 1
Bad Days    Alabama          1
            Alaska           1
            Arizona          1
            Arkansas         1
            California       1
                            ..
Bad Days.7  Virginia         1
            Washington       1
            West Virginia    1
            Wisconsin        1
            Wyoming          1
Length: 432, dtype: int64

In [17]:
#importing Dependencies for SQL
from numpy import genfromtxt
from time import time
from datetime import datetime
from sqlalchemy import Column, Integer, Float, Date
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.automap import automap_base

In [18]:
#Connecting to postgrsql server
engine = create_engine('postgresql://pasi1215@localhost:27017/mydatabase')

In [20]:
factory = sessionmaker(bind=engine)
session = factory()
for instance in session.query(Female).filter_by(FirstName="Unnamed:1"):
    print("Unnamed:1", instance.State)
print("Bad Days: 1", instance.mean)
print("---------")

InvalidRequestError: SQL expression, column, or mapped entity expected - got '                  Unnamed: 1 Bad Days Bad Days.1 Bad Days.2 Bad Days.3  \
Sex                 Location    count       mean        std        min
Female               Alabama        1        6.1        NaN        6.1
Female                Alaska        1        4.6        NaN        4.6
Female               Arizona        1        4.9        NaN        4.9
Female              Arkansas        1        6.5        NaN        6.5
Female            California        1        4.2        NaN        4.2
Female              Colorado        1        4.4        NaN        4.4
Female           Connecticut        1        4.2        NaN        4.2
Female              Delaware        1          5        NaN          5
Female  District of Columbia        1        4.8        NaN        4.8
Female               Florida        1          5        NaN          5
Female               Georgia        1        5.2        NaN        5.2
Female                  Guam        1        4.8        NaN        4.8
Female                Hawaii        1        3.8        NaN        3.8
Female                 Idaho        1        4.9        NaN        4.9
Female              Illinois        1        4.6        NaN        4.6
Female               Indiana        1        5.6        NaN        5.6
Female                  Iowa        1        4.7        NaN        4.7
Female                Kansas        1        5.2        NaN        5.2
Female              Kentucky        1        6.1        NaN        6.1
Female             Louisiana        1        6.1        NaN        6.1
Female                 Maine        1        4.8        NaN        4.8
Female              Maryland        1        4.3        NaN        4.3
Female         Massachusetts        1        4.7        NaN        4.7
Female              Michigan        1        5.8        NaN        5.8
Female             Minnesota        1        4.4        NaN        4.4
Female           Mississippi        1        5.8        NaN        5.8
Female              Missouri        1        5.4        NaN        5.4
Female               Montana        1        5.2        NaN        5.2
Female              Nebraska        1        4.5        NaN        4.5
Female                Nevada        1        5.4        NaN        5.4
Female         New Hampshire        1        5.1        NaN        5.1
Female            New Mexico        1        5.3        NaN        5.3
Female              New York        1        4.2        NaN        4.2
Female        North Carolina        1        4.9        NaN        4.9
Female          North Dakota        1        4.5        NaN        4.5
Female                  Ohio        1        5.6        NaN        5.6
Female              Oklahoma        1        5.8        NaN        5.8
Female                Oregon        1        5.1        NaN        5.1
Female          Pennsylvania        1        5.2        NaN        5.2
Female           Puerto Rico        1        3.6        NaN        3.6
Female          Rhode Island        1        4.9        NaN        4.9
Female        South Carolina        1        5.3        NaN        5.3
Female          South Dakota        1        4.2        NaN        4.2
Female             Tennessee        1        5.9        NaN        5.9
Female                 Texas        1        4.5        NaN        4.5
Female         United States        1        4.9        NaN        4.9
Female                  Utah        1        5.5        NaN        5.5
Female               Vermont        1        4.9        NaN        4.9
Female              Virginia        1        4.6        NaN        4.6
Female            Washington        1        5.1        NaN        5.1
Female         West Virginia        1        6.8        NaN        6.8
Female             Wisconsin        1        4.6        NaN        4.6
Female               Wyoming        1        4.7        NaN        4.7

       Bad Days.4 Bad Days.5 Bad Days.6 Bad Days.7
Sex           25%        50%        75%        max
Female        6.1        6.1        6.1        6.1
Female        4.6        4.6        4.6        4.6
Female        4.9        4.9        4.9        4.9
Female        6.5        6.5        6.5        6.5
Female        4.2        4.2        4.2        4.2
Female        4.4        4.4        4.4        4.4
Female        4.2        4.2        4.2        4.2
Female          5          5          5          5
Female        4.8        4.8        4.8        4.8
Female          5          5          5          5
Female        5.2        5.2        5.2        5.2
Female        4.8        4.8        4.8        4.8
Female        3.8        3.8        3.8        3.8
Female        4.9        4.9        4.9        4.9
Female        4.6        4.6        4.6        4.6
Female        5.6        5.6        5.6        5.6
Female        4.7        4.7        4.7        4.7
Female        5.2        5.2        5.2        5.2
Female        6.1        6.1        6.1        6.1
Female        6.1        6.1        6.1        6.1
Female        4.8        4.8        4.8        4.8
Female        4.3        4.3        4.3        4.3
Female        4.7        4.7        4.7        4.7
Female        5.8        5.8        5.8        5.8
Female        4.4        4.4        4.4        4.4
Female        5.8        5.8        5.8        5.8
Female        5.4        5.4        5.4        5.4
Female        5.2        5.2        5.2        5.2
Female        4.5        4.5        4.5        4.5
Female        5.4        5.4        5.4        5.4
Female        5.1        5.1        5.1        5.1
Female        5.3        5.3        5.3        5.3
Female        4.2        4.2        4.2        4.2
Female        4.9        4.9        4.9        4.9
Female        4.5        4.5        4.5        4.5
Female        5.6        5.6        5.6        5.6
Female        5.8        5.8        5.8        5.8
Female        5.1        5.1        5.1        5.1
Female        5.2        5.2        5.2        5.2
Female        3.6        3.6        3.6        3.6
Female        4.9        4.9        4.9        4.9
Female        5.3        5.3        5.3        5.3
Female        4.2        4.2        4.2        4.2
Female        5.9        5.9        5.9        5.9
Female        4.5        4.5        4.5        4.5
Female        4.9        4.9        4.9        4.9
Female        5.5        5.5        5.5        5.5
Female        4.9        4.9        4.9        4.9
Female        4.6        4.6        4.6        4.6
Female        5.1        5.1        5.1        5.1
Female        6.8        6.8        6.8        6.8
Female        4.6        4.6        4.6        4.6
Female        4.7        4.7        4.7        4.7  '

In [ ]:
metadata = db.MetaData()
Sex = db.Table('Unnamed:1', metadata, autoload=True, autoload_with=engine)

In [ ]:
print(Sex.columns.keys())

In [ ]:
print(repr(metadata.tables['Sex']))