In [9]:

import pandas as pd
import csv
import json
import pymongo
from pymongo import MongoClient

In [61]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [109]:
# Define database and collection
db = client.db
collection = db.collection

In [110]:
#Split or re import to get rid of ''''''
csv_fosmi=pd.read_csv("fosmi.csv")
csv_fosmi.reset_index(drop=True, inplace=False)
csv_fosmi

,"""""""Age",Sex,Location,Emp. Coverage,Ranking,"Do you *currently* have a mental health disorder?"""""""
0,"""""""36",Female,Nebraska,Yes,3,"Yes"""""""
1,"""""""39",Female,Nebraska,Yes,3,"Yes"""""""
2,"""""""26",Female,Pennsylvania,Yes,3,"Yes"""""""
3,"""""""32",Female,New York,Yes,3,"Possibly"""""""
4,"""""""40",Female,New York,Yes,4,"Yes"""""""
...,...,...,...,...,...,...
96,"""""""42",Female,Texas,Yes,3,"Yes"""""""
97,"""""""26",Female,NaN,Yes,2,"No"""""""
98,"""""""31",Female,California,No,3,"No"""""""
99,"""""""30",Female,NaN,No,2,"Possibly"""""""
100,"""""""24",Female,Oregon,Yes,3,"Yes"""""""

In [111]:
#read csv
fosmi_db = pd.read_csv(r'fosmi.csv')

print(male_db)

    """Age     Sex      Location Emp. Coverage  Ranking  \
0    """36  Female      Nebraska           Yes        3
1    """39  Female      Nebraska           Yes        3
2    """26  Female  Pennsylvania           Yes        3
3    """32  Female      New York           Yes        3
4    """40  Female      New York           Yes        4
..     ...     ...           ...           ...      ...
96   """42  Female         Texas           Yes        3
97   """26  Female           NaN           Yes        2
98   """31  Female    California            No        3
99   """30  Female           NaN            No        2
100  """24  Female        Oregon           Yes        3

    Do you *currently* have a mental health disorder?"""
0                                               Yes"""
1                                               Yes"""
2                                               Yes"""
3                                          Possibly"""
4                                               Yes"""
..                                                 ...
96                                              Yes"""
97                                               No"""
98                                               No"""
99                                         Possibly"""
100                                             Yes"""

[101 rows x 6 columns]

In [112]:
#Make into blank dictionary
result = {}
#get csv reader
def csv_to_dict():
    reader = csv.DictReader(open(''/'fosmi.csv'))
   
    for row in reader:
        key = row['Sex']
        result[key] = row

In [113]:
result

{}

In [114]:
#print dict
print(csv_to_dict)

<function csv_to_dict at 0x0000021B4D903950>

In [115]:
#open csv


with open('fosmi.csv', 'r') as csvfile:
    header = [ "show_id", "Sex"]
    reader = csv.reader(csvfile)

    for row in reader:
        doc={}
        for n in range(0,len(header)):
            doc[header[n]] = row[n]

In [116]:
#Import CSV

def content(filepath):
    collection_name = 'db.collection' 
    db_cm = mng_db[collection_name]
    cdir = os.path.dirname(__file__)
    file_res = os.path.join(cdir, filepath)

    data = pd.read_csv(file_res)
    data_json = json.loads(data.to_json(orient='Sex'))
    db_cm.remove()
    db_cm.insert(data_json)
    filepath = ''/'fosmi.csv'  
    import_content(filepath)