In [19]:
import os
import requests
import pandas as pd
import time

In [20]:
# Make a reference to thecsv file path
csv_path = 'KKF_data.csv'

# Import the books.csv file as a DataFrame
KKF_df = pd.read_csv(csv_path)
KKF_df.head()

,Title: Adults Reporting Mental Illness in the Past Year | KFF,Unnamed: 1,Unnamed: 2
0,United States,0.190,0.045
1,Alabama,0.214,0.058
2,Alaska,0.205,0.054
3,Arizona,0.192,0.048
4,Arkansas,0.203,0.056

In [21]:
KKF_df = KKF_df.rename({'Unnamed: 1':'Adults Reporting Any Mental Illness in the Past Year', 'Unnamed: 2': 'Adults Reporting Serious Mental Illness in the Past Year'}, axis=1)  # new method
KKF_df.head()

,Title: Adults Reporting Mental Illness in the Past Year | KFF,Adults Reporting Any Mental Illness in the Past Year,Adults Reporting Serious Mental Illness in the Past Year
0,United States,0.190,0.045
1,Alabama,0.214,0.058
2,Alaska,0.205,0.054
3,Arizona,0.192,0.048
4,Arkansas,0.203,0.056