In [9]:

import pandas as pd
import csv
import json
import pymongo
from pymongo import MongoClient

In [10]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [20]:
# Define database and collection
db = client.db
collection = db.collection

In [21]:
#read csv
male_db = pd.read_csv(r'Male.csv', index_col=0)
print(male_db)

                  Location  Bad Days Count  Bad Days Mean  Bad Days Min  \
Sex
Male               Alabama               1            4.6           4.6
Male                Alaska               1            3.3           3.3
Male               Arizona               1            4.1           4.1
Male              Arkansas               1            4.2           4.2
Male            California               1            3.4           3.4
Male              Colorado               1            3.6           3.6
Male           Connecticut               1            3.4           3.4
Male              Delaware               1            3.6           3.6
Male  District of Columbia               1            3.5           3.5
Male               Florida               1            3.7           3.7
Male               Georgia               1            4.3           4.3
Male                  Guam               1            3.9           3.9
Male                Hawaii               1            3.4           3.4
Male                 Idaho               1            3.7           3.7
Male              Illinois               1            3.5           3.5
Male               Indiana               1            3.6           3.6
Male                  Iowa               1            3.2           3.2
Male                Kansas               1            3.6           3.6
Male              Kentucky               1            4.5           4.5
Male             Louisiana               1            4.8           4.8
Male                 Maine               1            3.8           3.8
Male              Maryland               1            3.5           3.5
Male         Massachusetts               1            3.5           3.5
Male              Michigan               1            4.1           4.1
Male             Minnesota               1            3.2           3.2
Male           Mississippi               1            4.6           4.6
Male              Missouri               1            3.9           3.9
Male               Montana               1            3.7           3.7
Male              Nebraska               1            2.9           2.9
Male                Nevada               1            3.7           3.7
Male         New Hampshire               1            3.7           3.7
Male            New Mexico               1            3.8           3.8
Male              New York               1            3.4           3.4
Male        North Carolina               1            3.6           3.6
Male          North Dakota               1            2.8           2.8
Male                  Ohio               1            4.3           4.3
Male              Oklahoma               1            3.9           3.9
Male                Oregon               1            3.6           3.6
Male          Pennsylvania               1            3.5           3.5
Male           Puerto Rico               1            3.3           3.3
Male          Rhode Island               1            3.9           3.9
Male        South Carolina               1            3.3           3.3
Male          South Dakota               1            2.9           2.9
Male             Tennessee               1            3.9           3.9
Male                 Texas               1            3.4           3.4
Male         United States               1            3.7           3.7
Male                  Utah               1            3.6           3.6
Male               Vermont               1            4.0           4.0
Male              Virginia               1            3.4           3.4
Male            Washington               1            3.6           3.6
Male         West Virginia               1            5.5           5.5
Male             Wisconsin               1            3.8           3.8
Male               Wyoming               1            3.3           3.3

      Bad Days Q1  Bad Days Q2  Bad Days Q3  Bad Days Max
Sex
Male          4.6          4.6          4.6           4.6
Male          3.3          3.3          3.3           3.3
Male          4.1          4.1          4.1           4.1
Male          4.2          4.2          4.2           4.2
Male          3.4          3.4          3.4           3.4
Male          3.6          3.6          3.6           3.6
Male          3.4          3.4          3.4           3.4
Male          3.6          3.6          3.6           3.6
Male          3.5          3.5          3.5           3.5
Male          3.7          3.7          3.7           3.7
Male          4.3          4.3          4.3           4.3
Male          3.9          3.9          3.9           3.9
Male          3.4          3.4          3.4           3.4
Male          3.7          3.7          3.7           3.7
Male          3.5          3.5          3.5           3.5
Male          3.6          3.6          3.6           3.6
Male          3.2          3.2          3.2           3.2
Male          3.6          3.6          3.6           3.6
Male          4.5          4.5          4.5           4.5
Male          4.8          4.8          4.8           4.8
Male          3.8          3.8          3.8           3.8
Male          3.5          3.5          3.5           3.5
Male          3.5          3.5          3.5           3.5
Male          4.1          4.1          4.1           4.1
Male          3.2          3.2          3.2           3.2
Male          4.6          4.6          4.6           4.6
Male          3.9          3.9          3.9           3.9
Male          3.7          3.7          3.7           3.7
Male          2.9          2.9          2.9           2.9
Male          3.7          3.7          3.7           3.7
Male          3.7          3.7          3.7           3.7
Male          3.8          3.8          3.8           3.8
Male          3.4          3.4          3.4           3.4
Male          3.6          3.6          3.6           3.6
Male          2.8          2.8          2.8           2.8
Male          4.3          4.3          4.3           4.3
Male          3.9          3.9          3.9           3.9
Male          3.6          3.6          3.6           3.6
Male          3.5          3.5          3.5           3.5
Male          3.3          3.3          3.3           3.3
Male          3.9          3.9          3.9           3.9
Male          3.3          3.3          3.3           3.3
Male          2.9          2.9          2.9           2.9
Male          3.9          3.9          3.9           3.9
Male          3.4          3.4          3.4           3.4
Male          3.7          3.7          3.7           3.7
Male          3.6          3.6          3.6           3.6
Male          4.0          4.0          4.0           4.0
Male          3.4          3.4          3.4           3.4
Male          3.6          3.6          3.6           3.6
Male          5.5          5.5          5.5           5.5
Male          3.8          3.8          3.8           3.8
Male          3.3          3.3          3.3           3.3

In [33]:
#Make into dictionary
def csv_to_dict():
    reader = csv.DictReader(open(''/'Male.csv'))
    result = {}
    for row in reader:
        key = row['Sex']
        result[key] = row
    return query

In [23]:
#print dict
print(csv_to_dict)

<function csv_to_dict at 0x0000021B4D8AC1E0>

In [24]:
#open csv


with open('Male.csv', 'r') as csvfile:
    header = [ "show_id", "Sex"]
    reader = csv.reader(csvfile)

    for row in reader:
        doc={}
        for n in range(0,len(header)):
            doc[header[n]] = row[n]

In [31]:
#Import CSV

def content(filepath):
    collection_name = 'db.collection' 
    db_cm = mng_db[collection_name]
    cdir = os.path.dirname(__file__)
    file_res = os.path.join(cdir, filepath)

    data = pd.read_csv(file_res)
    data_json = json.loads(data.to_json(orient='Sex'))
    db_cm.remove()
    db_cm.insert(data_json)
    filepath = ''/'Male.csv'  
    import_content(filepath)

In [35]:
Male.head()

NameError: name 'Male' is not defined