In [10]:
import os
from bs4 import BeautifulSoup as bs
import requests
import pymongo
from splinter import Browser
import pandas as pd
import time

In [14]:
# Make a reference to thecsv file path
csv_path = "Glassdoor Gender Pay Gap.csv"

# Import the books.csv file as a DataFrame
GD_df = pd.read_csv(csv_path)
GD_df.head()

,JobTitle,Gender,Age,PerfEval,Education,Dept,Seniority,BasePay,Bonus
0,Graphic Designer,Female,18,5,College,Operations,2,42363,9938
1,Software Engineer,Male,21,5,College,Management,5,108476,11128
2,Warehouse Associate,Female,19,4,PhD,Administration,5,90208,9268
3,Software Engineer,Male,20,5,Masters,Sales,4,108080,10154
4,Graphic Designer,Male,26,5,Masters,Engineering,5,99464,9319

In [15]:
GD_df.columns.values

array(['JobTitle', 'Gender', 'Age', 'PerfEval', 'Education', 'Dept',
       'Seniority', 'BasePay', 'Bonus'], dtype=object)

In [13]:
NAS_df_c.dropna(how='all')

NameError: name 'NAS_df_c' is not defined